:root{
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #FF4000;
    --third-background-color: #F8F6F7;
    --fourth-background-color: #10151f80;
    --primary-border-color: #E1DFE1;
    --primary-text-color: #10151F;
    --secondary-text-color: #3E424A;
    --third-text-color: #FFFFFF;
    --fourth-text-color: #FF4000;
    --fifth-text-color: #3E424A;
}
.main-container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    &.with-padding{
        padding: 0 128px;
    }
}

// for texts>>
.poppins-300{
    font-family: "poppins-300" !important;
}
.poppins-400{
    font-family: "poppins-400" !important;
}
.poppins-500{
    font-family: "poppins-500" !important;
}
.poppins-600{
    font-family: "poppins-600" !important;
}
.primary-text-color{
    color: var(--primary-text-color) !important;
}
.secondary-text-color{
    color: var(--secondary-text-color) !important;
}
.third-text-color{
    color: var(--third-text-color) !important;
}
.fourth-text-color{
    color: var(--fourth-text-color) !important;
}
.fifth-text-color{
    color: var(--fifth-text-color) !important;
}



.before-light-text-size{
    font-size: 12px;
    line-height: 100%;
}

.light-text-size{
    font-size: 14px;
    line-height: 100%;
}

.standard-text-size{
    font-size: 16px;
    line-height: 100%;
}
.after-standard-text-size{
    font-size: 18px;
    line-height: 100%;
}
.before-extra-large-text{
    font-size: 20px;
    line-height: 100%;
}
.extra-large-text{
    font-size: 42px;
    line-height: 100%;
    font-family: "poppins-600" !important;
}
.text-capitalize{
    text-transform: capitalize;
}



// for common templates >>
.primary-border{
    border: 1px solid var(--primary-border-color);
    border-radius: 8px;
}
.secondary-border{
    border: 1px solid var(--primary-border-color);
}
.cursor-pointer{
    cursor: pointer;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.border-radius-10{
    border-radius: 10px;
}
.border-radius-5{
    border-radius: 5px;
}
.primary-transition{
    transition: all ease-out 0.2s;
}
    // primary input >> 
.primary-input-wrapper{
    width: 100%;
    &:not(.with-show-button){
        .show-button{
            display: none;
        }
    }
    &.with-show-button{
        .actuall-input-wrapper{

            .show-button{
                display: inline-block;
                position: absolute; 
                // top: 12px;
                top: 50%;
                transform: translateY(-50%);
                right: 12px;
                cursor: pointer;
            }
        }

    }
    .actuall-input-wrapper{
        position: relative;
        width: 100%;

        .primary-input{
            vertical-align: bottom;
            width: 100%;
            border: 1px solid var(--primary-border-color);
            border-radius: 8px;
            padding: 12px;
            &.invalid{
                border: 1px solid var(--fourth-text-color);
            }
        }

        &:has(.primary-input:placeholder-shown){
            label.primary-placeholder{
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                // top: 12px;
                left: 12px;
                z-index: 1;
                opacity: 1;
                background-color: transparent;
                margin-left: 1px;
                margin-top: 1px;
            }
        }
        &:has(.primary-input){
            label.primary-placeholder{
                display: none;
            }
        }
    }
    
}


    // for primary error message>>

.primary-form-msg{
    font-size: 10px;
    line-height: 100%;
}

    // for primary form file input>>
.primary-form-file-input{
    display: none;
}
.primary-form-file-input-label{
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 15px;
    background-color: inherit;
    width: fit-content;
    .photo-preview-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--primary-border-color);
    }
}
    // for primary pagination component >>>
.pagination-container {
    display: flex;
    column-gap: 10px;
    margin: 0;
}

.paginate-buttons {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-background-color);
    border: 1px solid var(--third-background-color);
    color: #212B36;
    font-size: 14px;
    line-height: 100%;
    font-family: "poppins-500";
}
.paginate-buttons:hover {
    background-color: #d8d8d8;
}

.active-page {
    border-color: var(--secondary-background-color);
    color: var(--secondary-background-color);
}
.back-button {
    border: none;
}

.next-button {
    border: none;
}

// for multiselect >>>
.multiselect{
    --ms-border-color: var(--primary-border-color);
    --ms-font-size: 16px;
    // --ms-line-height: 100%;
    --ms-py: 9px;
    --ms-px: 15px;
    --ms-radius: 10px;
    --ms-placeholder-color: var(--primary-text-color);


    --ms-option-font-size: 16px;
    --ms-option-bg-selected: var(--fourth-text-color);
    --ms-option-py: 9px;
    --ms-option-px: 15px;
    margin: 0 !important;
    .multiselect-single-label-text{
        overflow: visible !important;
    }

}
// for unvisible scrollbar >>
.primary-scrollbar{
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 5px;
        background-color: var(--third-background-color);
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--secondary-background-color);
        border-radius: 5px;
    }
    &.with-padding{
        padding-right: 5px !important;
    }
}