@font-face {
    font-family: "poppins-300";
    src: url("@/assets/fonts/Poppins-Light.ttf") format('truetype');
}
@font-face {
    font-family: "poppins-400";
    src: url("@/assets/fonts/Poppins-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "poppins-500";
    src: url("@/assets/fonts/Poppins-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "poppins-600";
    src: url("@/assets/fonts/Poppins-SemiBold.ttf") format('truetype');
}